body {
   font-family: 'Sono', sans-serif;
   background-color: #4A55A2 ;
   display: block;
}
.pricing-container {
   display: flex;
   justify-content: center;
   align-items: center;      
   height: 100vh;
   gap: 2rem;
}
.pricing-plan {
  flex: 1;
  background-color: #A0BFE0;
  max-width: 400px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}
.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-price {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-features {
    list-style: none;
    padding: 0;
    margin: 0;
}
.plan-features li {
    margin-bottom: 20px;
}
.plan-button {
    background-color: #7895CB;
    border-radius: 5px;
    padding: 5px;
}
  

  /* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1230px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
    }
}